engine-strict=true
fund=false

# Tell npm which registry to use for our organization scope
@ai-crew-suite:registry=https://npmjs.org

# Provide the scoped authentication token for our registry
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
